APP_NAME=InsightOps
APP_ENV=prod
API_PORT=8000
FRONTEND_PORT=8080
PROJECT_DB_EXPOSE_PORT=3307
MYSQL_ROOT_PASSWORD=root
PROJECT_DB_HOST=insightops-mysql
PROJECT_DB_PORT=3306
PROJECT_DB_USER=insightops
PROJECT_DB_PASSWORD=insightops
PROJECT_DB_NAME=insightops
ZABBIX_DB_HOST=zabbix-mysql
ZABBIX_DB_PORT=3306
ZABBIX_DB_USER=readonly
ZABBIX_DB_PASSWORD=readonly
ZABBIX_DB_NAME=zabbix
